@import '../../variables.pcss';

.content > * {
  margin-bottom: var(--verticalBaseline);
}

.header {
  font-weight: 300;
  text-align: center;
}

.logoText {
  font-size: 1.5rem;
  margin-bottom: var(--verticalBaseline);
}

.logo {
  height: calc(3 * var(--verticalBaseline));
  margin-bottom: 0.5rem;
}


.footer {
  text-align: center;

}
.parrot {
  height: 1rem;
}

.bold {
  font-weight: 600;
}