@import '../../variables.pcss';

.event {
  margin-bottom: var(--verticalBaseline);
}


.speakerList {
  list-style: none;
  padding: 0 var(--verticalBaseline);
  margin: 0 0 var(--verticalBaseline);
}