.logoContainer {
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  font-weight: 300;
  font-size: 1.333rem;
  line-height: 1.667rem;
  align-items: center;
}

.logo {
  width: 3rem;
  display: inline-block;
  flex: 0 1 auto;
}

.logoCaption {
  flex: 0 1 auto;
  display: inline-block;
  margin-left: 20px;
}

.appName {
  font-weight: 600;
}

@media (min-width: 640px), (max-width: 400px) {
  .logoContainer {
    justify-content: center;
  }
}