@import '../../variables.pcss';

.question {
  display: block;
  max-width: 80%;
  margin: 0 auto 1.33rem;
  color: black;
  background: #ddd;
  padding: 1.33rem; 
  border-radius: 10px;
}

.accepted.question {
  background: var(--colorSecondary);
  color: white;
}

.question p {
  margin: 0rem 0 1.33rem;
}

.question > :last-child {
  margin-bottom: 0;
}



