@import '../../variables.pcss';

.question {
  display: block;
  padding: 1.5rem;
  color: var(--textColor);
  background: var(--backgroundGray);
  border-radius: 10px;
}

.accepted.question {
  background: var(--colorTernary);
}

.askedBy {
  text-align: right;
}

.question p {
  margin: 0rem 0 1.33rem;
}

.question > :last-child {
  margin-bottom: 0;
}



