body {
  font-size: 16px;
  line-height: 1.33rem;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.app {
  display: flex;
  flex-direction: row;
}

.app > * {
  height: 100vh;
}



