@import 'normalize.css';

body {
  font-size: 16px;
  line-height: 1.33rem;
  
}

* {
  box-sizing: border-box;
}

:focus {
  outline: 3px solid var(--outlineColor);
  outline-offset: 0px;
}


.app {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0 1px #ddd;
  height: 100vh;
  
}

@media (min-width: 640px) {
  .app {
    flex-direction: row;
  }
  .app > * {
    height: 100vh;
  }
}
