:root {
  --colorPrimary: #E2445C;
  --colorSecondary: #2D88FF;
  --colorTernary: #DCE9FF;
  --colorSuccess: #1ED760;
  --colorError: #ff0033;
  --textColor: #323232;
  --outlineColor: color(var(--colorSecondary) tint(60%));
  --borderGray: #DEDEDE;
  --backgroundGray: #F0F0F0;
  --textGray: #888;
  --breakpointSmall: 640px;
  --sidebarWidth: 300px;
  --verticalBaseline: 1.5rem;
  
}