@import '../../variables.pcss';


.list {
  list-style: none;
  margin: 0;
  padding: 1.5rem 0.75rem 5rem;
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
  & li {
    margin: 0 0.75rem 1.5rem;
  }
}

.overlay {
  composes: overlay from '../../components/Overlay/Overlay.pcss';
  @media (min-width: 640px) {
    left: 300px;
  }
}
